body {
    font-family: 'Helvetica', light, sans-serif;
    background-color: #103a5d; 
    color: #333; 
    margin: 2em;
    line-height: 1.6;
}


h1, h3 {
    color: #94a1d5; 
    margin-bottom: 0.2em;
    font-size: 22pt;
}
h2 {
    color:#ffffff;
    font-size: 24pt;
}
body {
    color: #94a1d5;
    font-size: 20pt;
}

hr {
    color: #ffffff;
}
img {
    width: 650px;
    height: 200px;
}
body {
      margin: 0;
      padding: 24px;
      background: #103a5d;
    color: #94a1d5;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.2rem;
      margin-top: 0;
      font-weight: normal;
    }

    h3 {
      font-weight: normal;
      font-size: 1rem;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }

    hr {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.2rem;
    }

    li {
      margin-bottom: 0.7rem;
      font-size: 16pt;
    }

    img {
      width: 100%;
      height: auto;
      margin-top: 1rem;
      border-radius: 6px;
    }

    .small {
      opacity: 0.7;
      font-size: 0.9rem;
    }